<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
</head>

<body>
    
    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navigation.ejs') %>

    <main class="container-fluid px-5 py-4">
        <section class="d-flex justify-content-center mb-4">
            <h1 class="text-uppercase font-weight-bold text-success">Welcome to International Student Meetup!</h1>
        </section>
        <section class="px-5 mb-5">
            <div class="hover hover-3 text-white rounded">
                <img src="/assets/images/students_class.jpeg" class="img-fluid" alt="motto" width="1000">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span
                            class="font-weight-light">Student Meetup at</span> Science Club</h3>
                    <p class="hover-3-description small text-uppercase mb-0">California Institute of Technology,
                        Pasadena, California</p>
                </div>
            </div>
        </section>
        <section class="row d-flex justify-content-center mb-5">
            <article class="col-sm-10">
                <h1 class="hover-1-title text-uppercase font-weight-bold">What is International Student Meetup?</h1>
                <p>International Student Meetup is a platform that creates opportunities to meet students from all over
                    the world as well as other US students. It is an informal gathering over various interests of
                    students like dance, music, studies, coding, social and cultural activities, and games.</p>
            </article>
        </section>
        <section class="px-5 mb-5">
            <div class="hover hover-3 text-white rounded">
                <img src="/assets/images/image7.png" class="img-fluid" alt="motto" width="500">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span
                            class="font-weight-light">Meetup at</span> Robotics Workshop</h3>
                    <p class="hover-3-description small text-uppercase mb-0">Massachusetts Institute of Technology,
                        Cambridge, Massachusetts</p>
                </div>
            </div>
        </section>
        <section class="row d-flex justify-content-center mb-5">
            <article class="col-sm-10">
                <h1 class="hover-1-title text-uppercase font-weight-bold">What is the purpose of these meetups?</h1>
                <p>The purpose of thses meetups is to engage and encourage international students in activities from
                    different cultures and backgrounds, learn new skills, games, dance and music forms from across more
                    than 150 countries.</p>
            </article>
        </section>
        <section class="px-5 mb-5">
            <div class="hover hover-3 text-white rounded">
                <img src="/assets/images/students_holiday.jpg" class="img-fluid" alt="motto" width="900">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span
                            class="font-weight-light">Students at</span> Beach</h3>
                    <p class="hover-3-description small text-uppercase mb-0">Long Beach, California</p>
                </div>
            </div>
        </section>
        <section class="row d-flex justify-content-center mb-5">
            <article class="col-sm-10">
                <h1 class="hover-1-title text-uppercase font-weight-bold">How are you going to benefit from these
                    meetups?</h1>
                <p>International Student Meetup is a platform that creates opportunities to meet students from all over
                    the world as well as other US students. It is an informal gathering over various interests of
                    students like dance, music, departments, coding, social and cultural activities, and games.</p>
            </article>
        </section>
        <section class="px-5 mb-5">
            <div class="hover hover-3 text-white rounded">
                <img src="/assets/images/scratch-ed-meetup-photo.jpg" class="img-fluid" alt="motto" width="900">
                <div class="hover-overlay"></div>
                <div class="hover-3-content px-5 py-4">
                    <h3 class="hover-3-title text-uppercase font-weight-bold mb-1"><span
                            class="font-weight-light">Meeting at</span> Startup Incubator</h3>
                    <p class="hover-3-description small text-uppercase mb-0">Stanford University, California</p>
                </div>
            </div>
        </section>
        <section class="row d-flex justify-content-center mb-5">
            <article class="col-sm-10">
                <h1 class="hover-1-title text-uppercase font-weight-bold">How can you contribute to the community?</h1>
                <p>International Student Meetup is a platform that creates opportunities to meet students from all over
                    the world as well as other US students. It is an informal gathering over various interests of
                    students like dance, music, departments, coding, social and cultural activities, and games.</p>
            </article>
        </section>
    </main>

    <%- include ('partials/footer.ejs') %>

</body>

</html>